@font-face {
  font-family: lexend Deca;
  src: url(LexendDeca-VariableFont_wght.ttf);
}

* {
  font-family: lexend Deca;
  transition: 0.5s;
  scroll-behavior: smooth;

}

body {
  margin: 0%;
}

/*Navigation ....
....*/

.navigation {
  display: flex;
  background-color: #020617;
  height: 62px;
  color: white;
  position: fixed;
  width: 100%;
  /* margin-top: -10px; */
  z-index: 10;
  box-shadow: 0px 3px 4px -2px rgba(255, 255, 255, 0.2);

}

.navigation1 {
  display: flex;
  flex: 9;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: Lexend Deca;
  font-weight: 400;
  text-transform: uppercase;
}

.about1 {
  display: flex;
  flex: 2;
  margin-left: 11%;
}

.Hspan {
  font-size: 24px;
  font-weight: 700;
}

.Mspan {
  font-size: 24px;
  font-weight: 700;
  color: #EAB308;
}

.Mspan a {
  color: #EAB308;
  text-decoration: none;
}

.navigation2 {
  flex: 1;
  background-color: #020617;
  display: flex;

  margin-right: 5%;
  white-space: nowrap;
  justify-content: center;
  align-items: center;

}

.navigation3 {
  display: none;
  flex: 1;
  background-color: #020617;
  flex-direction: column;
  margin-top: 220px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  /* margin-right: -30px;   */

  border-radius: 5px;
  z-index: 10;
  box-shadow: 0px 3px 4px -2px rgba(255, 255, 255, 0.2), -3px 0px 4px -2px rgba(255, 255, 255, 0.2);
  /* margin-right: 5%; */
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: fadeInMenu 0.5s ease-out;
}

@keyframes rotateIn {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(90deg);
  }
}

@keyframes scaleIn {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

@keyframes fadeInMenu {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOutMenu {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.navdivs {
  margin-right: 2vw;
  color: #9CA3AF;

}

.navdivs a {
  color: #9CA3AF;
  text-decoration: none;
}

.navdivs2 {
  margin-right: 2vw;
  color: #9CA3AF;
  margin-bottom: 10px;
  text-align: center;
}

.navdivs2 a {
  color: #9CA3AF;
  text-decoration: none;
}

.login1 {
  color: white;
}

.login1 a {
  text-decoration: none;
  color: #F3F4F6;
}

.login12 {
  color: white;
  text-align: center;
}

.login12 a {
  text-decoration: none;
  color: #F3F4F6;
}

.menubox {
  display: flex;
  height: 40px;
  position: absolute;
  display: none;
}

.menubox1 {
  display: flex;
  height: 40px;
  position: absolute;
  display: none;
}



@media(max-width: 800px) {
  .navigation2 {
    font-size: 13px;
  }
}

@media (max-width:600px) {
  .navigation2 {
    display: none;

  }

  .menubox {
    display: flex;
    height: 40px;
    position: absolute;
    margin-left: 70%;
    cursor: pointer;
    animation: rotateIn 0.5s ease-out;
  }

  .menubox1 {
    display: flex;
    height: 40px;
    position: absolute;
    margin-left: 70%;
    cursor: pointer;
    animation: rotateIn 0.5s ease-out;
  }

  .navigation3 {
    display: block;
    gap: 20px;

  }
}

/*Landing page....
....*/
.landing-page {

  background-color: #111827;

  display: flex;
  flex-direction: row;
  color: white;


}

@media(max-width: 450px) {
  .landing-page {
    flex-direction: column-reverse;
  }

  .landing-image1 {
    margin-left: 20%;

  }

}

.text1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 11%;
  margin-top: 15%;
}

.landing-image1 {
  display: flex;
}

.landing-image {
  width: 100%;
  display: flex;
  border-radius: 24px;
}

.landing-image1 {
  /*height: 646px;*/
  width: 29%;
  height: 70%;

  margin-right: 12%;
  margin-top: 1%;
  /*height: 800px;*/
  margin-bottom: 8%;

}

@media (max-width: 450px) {
  .landing-image {
    width: 150px;
    margin-bottom: -80px;
  }

}

.i-m-honore {
  /*max-width: 100px;*/
  background-color: #111827;
  font-size: 42px;
  margin-top: -1%;
  font-weight: 700;
}

.junior {
  color: #6B7280;
  font-size: 24px;
  font-weight: 400;
  margin-top: 1%;
}

.button1 {
  /*display: block;*/
  display: flex;
  width: 132px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background: #FACC15;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  white-space: nowrap;
  margin-top: 8%;
  margin-bottom: 45%;
}

.yello {
  color: #EAB308;
  font-size: 32px;

}



/*about me section...
....
...*/
.about-me {
  display: flex;
  background-color: #020617;
  color: white;
  text-align: justify;
}

.profile-pic1 {
  display: flex;
  position: relative;
  width: 340%;
  /* height: 130%; */
  justify-content: center;
  align-items: center;
  /* margin-top: 0%;*/
  margin-left: 10%;
  margin-top: -14%;

}

.about-pic {
  width: 88%;
  position: absolute;
  margin-left: 3%;
  margin-bottom: 1%;
  border-radius: 16px;
  transform: scaleX(-1);
}

.pic-box {
  position: absolute;
  width: 85%;
  height: 422px;
  /* size: 70%; */
  margin-top: 63%;
  margin-left: 6%;
  border-radius: 24px;
  border: 16px #EAB308 solid;
}

@media(max-width: 1420px) {
  .pic-box {
    height: 48%;
  }
}

@media(max-width: 1140px) {
  .pic-box {
    height: 37%;
  }
}

@media(max-width: 1040px) {
  .pic-box {
    height: 33%;
  }
}

@media(max-width: 912px) {
  .pic-box {
    height: 29%;
  }
}

@media(max-width: 820px) {
  .pic-box {
    height: 24%;
  }
}

@media(max-width: 900px) {
  .pic-box {
    border: 8px #EAB308 solid;
  }
}

.text-about {
  /* margin-top: 0%; */
  /* display: flex; */
  padding: 6%;
  margin-bottom: 10%;
  margin-top: 14%;

}

.welcome {
  color: #6B7280;
  font-size: 24px;
}

.about2 {
  font-size: 42px;
  font-weight: 700;
}

.me1 {
  color: #EAB308;
  font-size: 42px;
  font-weight: 700;
}

.about3 {
  display: flex;
  position: absolute;
  margin-left: 53%;
  margin-top: 16%;
}

@media(max-width: 600px) {
  .about-me {
    flex-direction: column;
  }

  .profile-pic1 {
    width: 60%;
    margin-top: 50%;
  }

  .pic-box {
    height: 310px;

  }

  .about3 {
    margin-left: 20%;
    margin-top: 10%;
  }

  .text-about {
    margin-top: 40%;
  }
}

@media(max-width: 430px) {
  .pic-box {
    height: 214px;
  }
}

@media(max-width: 390px) {
  .pic-box {
    height: 200px;
  }
}

@media(max-width: 280px) {
  .pic-box {
    height: 136px;
  }

  .about2 {
    font-size: 26px;
  }

  .me1 {
    font-size: 26px;

  }

  .welcome {
    font-size: 18px;
  }
}

/* Portfolio section .....
..... 
....*/

.portfolio {
  background-color: #111827;
  padding-bottom: 4%;
}

.folios {
  display: flex;
  margin-left: 4%;
  gap: 6%;

}

.secondfolio {
  display: flex;
  flex-direction: column;
  width: 47%;
  height: 160px;
  gap: 68%;
}

.title1 {
  display: flex;
  justify-content: center;
  padding: 2%;

}

.my2 {
  color: #F3F4F6;
  font-size: 42px;
  font-weight: 700;
}

.portfolio1 {
  color: #EAB308;
  font-size: 42px;
  font-weight: 700;
}

.folio1 {
  /* display: flex;
  flex-direction: column; */
  background-color: #D9D9D9;
  border-radius: 22px;
  width: 44%;
}

.folio2 {
  display: flex;
  background-color: #D9D9D9;
  border-radius: 22px;

}

.folio3 {
  display: flex;
  background-color: #D9D9D9;
  border-radius: 22px;

}

.portrectangle1 {
  width: 68%;
  margin-left: 3%;
  margin-top: 3%;
  border-radius: 20px;
}

.office {
  display: flex;
  justify-content: center;
  color: #EAB308;
  font-size: 32px;
}

.arranging {
  color: #212C42;
  font-size: 23px;
  font-weight: 500;
  margin-left: 4%;
}

.explore1 {
  font-size: 18px;
  font-weight: 500;
  color: #9CA3AF;
  margin-left: 16%;
  margin-top: 12%;
}

.portrectangle2 {
  width: 42%;
  height: 80%;
  margin: 2%;
}

.time1 {
  color: #EAB308;
  font-size: 32px;
  border-radius: 20px;

}

.time2 {
  color: #212C42;
  font-size: 23px;
  font-weight: 500;
}

.explore2 {
  font-size: 18px;
  font-weight: 500;
  color: #9CA3AF;
  /* margin-top: 42%; */

  margin-left: 20%;
}

@media(max-width: 1200px) {
  .explore2 {
    margin-top: 24%;
  }
}

@media(max-width: 895px) {
  .explore2 {
    margin-top: 18%;
  }
}

.portrectangle3 {
  width: 42%;
  height: 90%;
  margin: 2%;
  margin-right: 0;
}

.activities {
  color: #EAB308;
  font-size: 28px;
  border-radius: 20px;
}

.timetables {
  color: #212C42;
  font-size: 23px;
  font-weight: 500;
  margin-left: 6%;
}

.explore3 {
  font-size: 18px;
  font-weight: 500;
  color: #9CA3AF;
  margin-top: 33%;
  margin-left: 6%;
}

@media(max-width: 1030px) {
  .secondfolio {
    gap: 20px;
  }

  .portrectangle2,
  .portrectangle3 {
    height: 70%;
  }

}

@media(max-width: 860px) {

  .office,
  .time1,
  .activities {
    font-size: 20px;
  }

  .arranging,
  .time2,
  .timetables {
    font-size: 14px;
  }

  .explore1,
  .explore2,
  .explore3 {
    font-size: 10px;
  }

  .my2,
  .portfolio1 {
    font-size: 30px;
  }

  .explore3,
  .explore2 {
    margin-top: 2%;
  }

  .secondfolio {
    gap: 68%;
  }

}

@media(max-width: 600px) {
  .secondfolio {
    gap: 40%;
  }
}

@media(max-width: 560px) {
  .folios {
    flex-direction: column;

  }

  .folio1 {
    width: 90%;
    margin-bottom: 5%;

    display: flex;
  }

  .portrectangle1 {
    width: 40%;
  }

  .folio2 {
    width: 190%;
    height: 150%;
  }

  .portrectangle2 {
    height: 90%;
  }

  .folio3 {
    width: 190%;
    height: 150%;
  }

  .portrectangle3 {
    height: 90%;
  }

  .portfolio {
    padding-bottom: 67%;
  }

  .secondfolio {
    gap: 28%;
  }

}

@media(max-width: 310px) {

  .office,
  .time1,
  .activities {
    font-size: 17px;
  }

  .arranging,
  .time2,
  .timetables {
    font-size: 12px;
  }

  .explore1,
  .explore2,
  .explore3 {
    font-size: 8px;
  }

  .my2,
  .portfolio1 {
    font-size: 27px;
  }

  .portrectangle1 {
    height: 10%;
  }

  .portrectangle2 {
    height: 70%;
  }

  .portrectangle3 {
    height: 70%;
  }

  .portfolio {
    padding-bottom: 80%;
  }
}

/* My Blogs section .......
.......
..... */
.myblogs {
  background-color: #020617;
  padding-top: 1%;
  padding-bottom: 3%;
}

.my3 {
  color: #F3F4F6;
  font-size: 42px;
  font-weight: 700;
}

.blogs1 {
  color: #EAB308;
  font-size: 42px;
  font-weight: 700;
}

.title2 {
  display: flex;
  justify-content: center;
}

.blogs {
  display: flex;
  justify-content: space-between;
  margin: 1%;
  /* overflow-x: scroll; */
}

/* .blog1 {
  background-color: #111827;
  border-radius: 30px;
  width: 32%;
}

.blog2 {
  background-color: #111827;
  border-radius: 30px;
  width: 32%;

}

.blog3 {
  background-color: #111827;
  border-radius: 30px;
  width: 32%;
}

.blogpic1 {
  width: 90%;
  margin: 4%;
  border-radius: 2%;
}

.how {
  color: #EAB308;
  font-size: 32px;
  margin-left: 4%;
}

.things {
  color: white;
  font-size: 22px;
  margin-left: 3%;
}

.stats1 {
  display: flex;
  justify-content: center;
  color: #9CA3AF;
  gap: 12%;
  margin: 3%;
}

.learn1 {
  display: flex;
  margin: 8%;
}

.learn1 img {
  height: 1%;
  margin-left: 4%;
  margin-top: 2%;
}

.learn1 p {
  color: #EAB308;
  font-size: 14px;
 
}

.learn1 p a {
  text-decoration: none;
  color: #EAB308;
} */


@media(max-width: 1150px) {
  .stats1 {
    gap: 5%;
  }
}

@media(max-width: 1150px) {
  .stats1 {
    font-size: 12px;
  }
}

@media(max-width: 730px) {
  .how {
    font-size: 22px;
  }

  .things {
    font-size: 15px;
  }

  .stats1 {
    font-size: 10px;
  }

  .learn1 p {
    font-size: 9px;
  }

  .learn1 img {
    width: 10%;
  }
}

@media(max-width: 600px) {
  .blogs {
    flex-direction: column;
  }

  .blog1,
  .blog2,
  .blog3 {
    width: 90%;
    margin: 4%;
  }

  .my3,
  .blogs1 {
    font-size: 30px;
  }
}

/* Contact Us Section ........
.........
.......... */
.contactme {
  background-color: #111827;
  padding-top: 1%;
}

.contact1 {
  color: #F3F4F6;
  font-size: 42px;
  font-weight: 700;
}

.me2 {
  color: #EAB308;
  font-size: 42px;
  font-weight: 700;
}

.title3 {
  display: flex;
  justify-content: center;
}

.contactbox {
  display: flex;
  flex-direction: column;
}

.box1 {
  display: flex;
  gap: 15%;
  margin: 3%;
}

.address1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 6%;
}

.address2 {
  color: #EAB308;

  font-weight: 700;
}

.contact-kigali {
  color: #F3F4F6;
}

.contact-phone {
  color: #EAB308;

  font-weight: 700;
}

.contact-phonenumber {
  color: #F3F4F6;
}

.contact-email {
  color: #EAB308;

  font-weight: 700;
}

.contact-email1 {
  color: #F3F4F6;
}

.contact-website {
  color: #EAB308;

  font-weight: 700;
}

.contact-website1 {
  color: #F3F4F6;
}

.message1 {
  display: flex;
  flex-direction: column;
  gap: 10%;

}

.name1 {
  display: flex;
  flex-direction: column;
  /* background-color: #020617; */
  color: white;
  /* width: 410%; */
  width: 70%;
  height: 100px;
  align-items: center;
  position: relative;

}

.name1 input {
  width: 100%;
  height: 100%;
  background-color: #020617;
  border: none;
  color: white;
}

/*......... valids ......................*/
/* .......permanent valids...... */
input[name='names']:invalid {
  border: 1px solid red;
  border-radius: 5px;
}

input[name='names']:valid {
  border: 2px solid green;
  border-radius: 5px;
}

#message:invalid {
  border: 1px solid red;
  border-radius: 5px;
}

#message:valid {
  border: 2px solid green;
  border-radius: 5px;
}

.error {
  color: red;
  position: absolute;
  margin-top: 15%;
  margin-left: 0%;
  font-size: 14px;
}

.name1 span {
  width: 400px;
  margin-left: 68px;
}

.message2 span {
  margin-top: 140px;
}

.message2 {
  display: flex;
  /* background-color: #020617; */
  color: white;
}

.message2 textarea {
  width: 100%;

  background-color: #020617;
  border: none;
  color: white;
}

::placeholder {
  color: white;
  opacity: 0.8;
  padding-left: 8px;
}

.contactbutton {
  display: flex;
  background-color: #EAB308;
  border-radius: 4px;
  font-size: 16px;

  width: 22%;
  height: 20%;
  border: none;
  text-align: center;
  cursor: pointer;
}

.socialmedia {
  display: flex;
  justify-content: center;
  gap: 1%;
}

.admin {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 5%;
}

.admin1 {
  display: flex;
  justify-content: center;
  background-color: #020617;
  color: #EAB308;
  font-size: 13px;
  padding: 0.5%;
}

.box2 {
  margin-top: 10%;
  padding-bottom: 3%;
}


@media(max-width:1100px) {
  .box1 {
    gap: 0%;
  }
}

@media(max-width: 700px) {
  .box1 {
    flex-direction: column-reverse;
  }

  .name1 {
    height: 30px;
    padding: 1%;
    margin-bottom: 3%;
  }

  .message2 {
    padding: 1%;
    height: 90px;
  }

  .contactbutton {
    padding-right: 0%;
    padding-bottom: 20px;
    padding-top: 1%;
    padding-left: 1%;
    width: 95px;
    height: 2px;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 20%;
  }

  .message1 {
    margin-left: 15px;
  }

}

@media(max-width: 350px) {
  .contact1 {
    font-size: 30px;
  }

  .me2 {
    font-size: 30px;
  }

  .box1 {
    font-size: 13px;

  }

  .socialmedia img {
    width: 20px;
  }
}

.rights {
  color: gray;
  display: flex;
  justify-content: center;
  margin-top: 15px;

}

/* today................ */
#blogsContainer {
  display: flex;
  width: fit-content;
  overflow-x: hidden;
  padding: 20px;
  /* max-width: 100%; */
}

#bContainer1 {
  overflow-x: hidden;
}

#blog1 {
  width: 300px;
  flex-shrink: 0;
  padding: 15px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  border-radius: 8px;
  margin: 0 10px;
  background-color: #111827;
}

#image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
}

#blogpic1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#how {
  color: #EAB308;
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
  height: 65px;
}

#things {
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  height: 50px;

}


#stats1 {
  margin-top: 10px;
  font-size: 12px;
  color: #888;
  display: flex;
  justify-content: space-between;
}

#date1 {
  overflow: hidden;
  max-width: 65px;
  white-space: nowrap;
}

#learn1 {
  display: flex;

  margin-top: 20px;
}

#learn1 a {
  text-decoration: none;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
}

#learn1 a:hover {
  color: blue;
}

#learn1 img {
  height: 1%;
  margin-left: 4%;
  margin-top: 2%;
}

#learn1 p {
  color: #EAB308;
  font-size: 14px;

}

#learn1 p a {
  text-decoration: none;
  color: #EAB308;
}

#blogsContainer::-webkit-scrollbar {
  height: 8px;
}

#blogsContainer::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

#blogsContainer::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

#blogsContainer::-webkit-scrollbar-track {
  background-color: transparent;
}

.email1 {
  display: flex;
  flex-direction: column;
  /* background-color: #020617; */
  color: white;
  /* width: 410%; */
  width: 70%;
  height: 100px;
  align-items: center;
  position: relative;

}

.email1 input {
  width: 100%;
  height: 100%;
  background-color: #020617;
  border: none;
  color: white;
}

input[name='email']:invalid {
  border: 1px solid red;
  border-radius: 5px;
}

input[name='email']:valid {
  border: 2px solid green;
  border-radius: 5px;
}

.confirmation-message {
  background-color: rgb(1, 95, 1);
  width: 250px;
  height: 20px;
  color: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  display: none;
  /* display: flex; */
  justify-content: center;
  white-space: nowrap;
  animation: scaleIn 0.3s ease-in-out;

  position: fixed;
  top: 60px;
  right: 20px;
  z-index: 10;

}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

::-webkit-scrollbar {
    display: none;
}

/*         ::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 4px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background-color: #999;
    }
    
    ::-webkit-scrollbar-track {
      background-color:#020617;
    } */

  