@font-face {
  font-family: lexend deca;
  src: url(LexendDeca-VariableFont_wght.ttf);
}
* {
  font-family: lexend deca;
  transition: 0.5s;
  scroll-behavior: smooth;
}
body{
  background-color:#020617;
 
}
.title2{
  margin-top: 10%;
}
.title1 {
  display: flex;
  justify-content: center;
  /* padding: 2%; */
  background-color: #020617;
  position: relative;
  
}

.admin1 {
  position: absolute;
  display: flex;
  margin-right: 66%;
}

.admin1 p {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.admin1 img {
  width: 50px;
  border-radius: 50px;
}

.my2 {
  color: white;
  font-weight: 700;
}

.dash1 {
  font-weight: 700;
  color: #EAB308;
}

.my1 {
  color: #F3F4F6;
  font-size: 30px;
  font-weight: 700;
}

.dash {
  color: #EAB308;
  font-size: 30px;
  font-weight: 700;
}

/* ............................................................... */
.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
form{
  width: 400px;
 
}
.nameBox{
  display: flex;
  flex-direction: column;
  gap: 5px;  

}
.nameBox label{
  color: white;
  font-size: 26px;
}
.names{
  height: 45px;
  color: white;
  background-color: #111827;
  border: none;
  border-radius: 6px;
}
form button{
  width: 110px;
  background-color: #EAB308;
  border: none;
  border-radius: 4px;
  height: 35px;
  font-size: 22px;
  cursor: pointer;
  margin-left: 150px;
  margin-top: 15px;
  
}
form button:hover{
  transform: scale(1.2)
}

.confirmation-message {
  background-color: rgb(1, 95, 1);
  width: 250px;
  height: 20px;
  color: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  display: none;
  /* display: flex; */
  justify-content: center;
  white-space: nowrap;
  animation: scaleIn 0.3s ease-in-out;

  position: fixed;
  top: 60px;
  right: 20px;
  z-index: 10;

}
::-webkit-scrollbar {
  display: none;
}
.form-container p{
  color: gray;
}
.form-container p span{
  color: white;
  cursor: pointer;
}
.form-container p span:hover{
  color:#EAB308;
}
.form-container p a{
  text-decoration: none;
}
