@font-face {
  font-family: lexend deca;
  src: url(LexendDeca-VariableFont_wght.ttf);
}
* {
  font-family: lexend deca;
  transition: 0.5s;
  scroll-behavior: smooth;
}
body{
  background-color:#020617; 
}
.title1 {
  display: flex;
  justify-content: center;
  /* padding: 2%; */
  background-color: #020617;
  position: relative;
}
.admin1{
  position: absolute;
  display: flex; 
  margin-right: 66%;
}
.admin1 p{
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.admin1 img{
  width: 50px;
  border-radius: 50px;  
}
.my2{
  color: white;
  font-weight: 700;
  }
  .dash1{
    font-weight: 700;
    color: #EAB308;
  }
  .my1{
    color: #F3F4F6;
    font-size: 30px;
    font-weight: 700;
  }
  .dash{
    color: #EAB308;
    font-size: 30px;
    font-weight: 700;
  }
