@font-face {
  font-family: lexend deca;
  src: url(LexendDeca-VariableFont_wght.ttf);
}
* {
  font-family: lexend deca;
  transition: 0.5s;
  scroll-behavior: smooth;
}
body{
  background-color:#020617;
 
}
.container2{
padding-bottom: 70px;
}
.my1{
  color: #F3F4F6;
  font-size: 42px;
  font-weight: 700;
}
.dash{
  color: #EAB308;
  font-size: 42px;
  font-weight: 700;
}
.title1 {
  display: flex;
  justify-content: center;
  /* padding: 2%; */
  background-color: #020617;
  position: relative;
}
.admin1{
  position: absolute;
  display: flex;
  margin-left: 60%;
  margin-top: -10px;

}
.admin1 p{
  color: #9CA3AF;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.admin1 img{
  width: 50px;
  border-radius: 50px;  
}
.stats1{
  display: flex;
  justify-content: center;
  background-color: #111827;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 14px;
  flex-direction: column;
  padding-bottom: 2%;  
  }
.thestats{
  display: flex;
  justify-content: center;  
  background-color: #111827;
  
}
.the{
  color: #F3F4F6;
  font-size: 34px;
  font-weight: 700;
}
.stats2{
  color: #EAB308;
  font-size: 34px;
  font-weight: 700;
}
.boxes{
  display: flex;
  justify-content: space-between;
  margin-left: 4%;
  margin-right: 4%;  
}
.box1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #545861;
  width: 30%;
  border-radius: 16px;
}
.box1 p{
  padding-left: 6%;
  padding-right: 6%;
}
.numbers{
  color: #EAB308;
  font-size: 42px;
  font-weight: 700;
  /* margin-bottom: 4%;
  margin-top: 2%; */
}
.descriptions{
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  color: white;
  font-size: 22px;
  /* white-space: nowrap; */
  
}
.boxes2{
  display: flex;
  gap: 10%;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%; 
}
.theblogs{
  background-color: #111827;
  width: 46%;
  border-radius: 14px;
  
}
.blogs4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blogs4 p{
  color: white;
  font-size: 22px;
  font-weight: 700;
  gap: 2px;
}
.customize{
  display: flex;
  justify-content: center;
  padding: 7%;
}
.customize button{
  background-color: #EAB308;
  border-radius: 6px;
  font-size: 16px;
  padding: 2%;
  border: none;
  text-align: right;
  }
.boxes3{
  display: flex;
  gap: 10%;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%; 
  
}
.customize button a{
  text-decoration: none;
  color: black;
}

